$line-height: 1.5em;
$font-heading: "Founders Grotesk Extra Condensed", "Helvetica Nueue", "Helvetica", sans-serif;
$font-body: "Tiempos Text", "Georgia", "Times New Roman", serif;
$font-monospace: "Source Code Pro", "Menlo", mono-space;

$max-width: 56rem;
