.article {
  min-height: 100vh;
  margin: 0;
  position: relative;
  border-bottom: 0.5em solid whitesmoke;
  display: flex;
  flex-flow: column;

  section { flex: 1 0 auto; }
  header, footer { flex: 0 0 auto; }

  header, footer {
    font-size: 0.75em;
    font-family: $font-monospace;
    font-weight: 300;
    text-align: left;
    padding-top: 2em;
    padding-bottom: 2em;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }


    @media screen and (min-width: 480px) {
      display: flex;
      & > * {
        flex: 1 1 50%;
        margin: 0;
      }
      & > *:last-child { padding-left: 0.75rem; }
      & > *:first-child { padding-right: 0.75rem; }

      .project-meta {
        display: flex;

        li {
          flex: 1 1 50%;
          margin: 0;
        }
      }
    }
  }

  header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    top: 0;
  }

  .header-site-title,
  .header-article-title {
    font-family: $font-monospace;
    font-weight: 300;
    font-size: 1em;
    line-height: $line-height;
    margin: 0;
    text-transform: none;
    border: none;
  }

  .project-images-caption,
  .project-meta {
    flex: 1 1 50%;
    margin: 0;
  }
}
