@font-face {
  font-family:"Tiempos Text";
  src:
    url("/assets/fonts/tiempos/TiemposTextWeb-Regular.woff"),
    url("/assets/fonts/tiempos/TiemposTextWeb-Regular.woff2");
  font-weight:normal;
  font-style:normal
}
@font-face {
  font-family:"Tiempos Text";
  src:
    url("/assets/fonts/tiempos/TiemposTextWeb-RegularItalic.woff"),
    url("/assets/fonts/tiempos/TiemposTextWeb-RegularItalic.woff2");
  font-weight:normal;
  font-style:italic
}
@font-face {
  font-family:"Tiempos Text";
  src:
    url("/assets/fonts/tiempos/TiemposTextWeb-Semibold.woff"),
    url("/assets/fonts/tiempos/TiemposTextWeb-Semibold.woff2");
  font-weight:bold;
  font-style:normal
}
@font-face {
  font-family:"Tiempos Text";
  src:
    url("/assets/fonts/tiempos/TiemposTextWeb-SemiboldItalic.woff"),
    url("/assets/fonts/tiempos/TiemposTextWeb-SemiboldItalic.woff2");
  font-weight:bold;
  font-style:italic
}

@font-face {
  font-family:"Founders Grotesk Extra Condensed";
  src:
    url("/assets/fonts/founders-grotesk/FoundersGroteskX-CondensedWeb-Regular.woff"),
    url("/assets/fonts/founders-grotesk/FoundersGroteskX-CondensedWeb-Regular.woff2");
  font-weight:normal;
  font-style:normal
}

@font-face {
  font-family:"Founders Grotesk";
  src:
    url("/assets/fonts/founders-grotesk/FoundersGroteskWeb-Regular.woff"),
    url("/assets/fonts/founders-grotesk/FoundersGroteskWeb-Regular.woff2");
  font-weight:normal;
  font-style:normal
}
@font-face {
  font-family:"Founders Grotesk";
  src:
    url("/assets/fonts/founders-grotesk/FoundersGroteskWeb-RegularItalic.woff"),
    url("/assets/fonts/founders-grotesk/FoundersGroteskWeb-RegularItalic.woff2");
  font-weight:normal;
  font-style:italic
}
@font-face {
  font-family:"Founders Grotesk";
  src:
    url("/assets/fonts/founders-grotesk/FoundersGroteskWeb-Bold.woff"),
    url("/assets/fonts/founders-grotesk/FoundersGroteskWeb-Bold.woff2");
  font-weight:bold;
  font-style:normal
}
@font-face {
  font-family:"Founders Grotesk";
  src:
    url("/assets/fonts/founders-grotesk/FoundersGroteskWeb-BoldItalic.woff"),
    url("/assets/fonts/founders-grotesk/FoundersGroteskWeb-BoldItalic.woff2");
  font-weight:bold;
  font-style:italic
}

@font-face {
  font-family: "Fira Mono";
  src: url("/assets/fonts/fira/FiraMono-Regular.eot");
  src:
    url("/assets/fonts/fira/FiraMono-Regular.eot") format("embedded-opentype"),
    url("/assets/fonts/fira/FiraMono-Regular.woff2") format("woff2"),
    url("/assets/fonts/fira/FiraMono-Regular.woff") format("woff"),
    url("/assets/fonts/fira/FiraMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
