@import url('./modules/typography/fonts.css');

.lh-copy { line-height: 1.5rem; }

:root {
  color: hsl(0, 0%, 15%);
  font-size: 100%;
  font-family:
    Founders Grotesk,
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    helvetica,
    helvetica neue,
    ubuntu,
    noto,
    Roboto,
    segoe ui,
    arial,
    sans-serif;
}

@media (min-width: 30rem) {
  :root {
    font-size: 125%;
  }
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
}

.founders-grotesk-extra-condensed {
  font-family: Founders Grotesk Extra Condensed;
}

.founders-grotesk {
  font-family:
    Founders Grotesk,
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    helvetica,
    helvetica neue,
    ubuntu,
    noto,
    Roboto,
    segoe ui,
    arial,
    sans-serif;
}

.tiempos-text {
  font-family:
    "Tiempos Text",
    "Georgia",
    "Times New Roman",
    serif;
}


.block-columns-2-ns {
  column-gap: 1.5rem;
}

.block-columns-2-ns > * {
  break-inside: avoid;
}

@media (min-width: 30em) {
  .block-columns-2-ns {
    column-count: 2;
  }
}

.markdown {
  font-family:
    "Tiempos Text",
    "Georgia",
    "Times New Roman",
    serif;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-family:
    Founders Grotesk,
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    helvetica,
    helvetica neue,
    ubuntu,
    noto,
    Roboto,
    segoe ui,
    arial,
    sans-serif;
  font-weight: bold;
  margin-top: 1.75rem;
}

.markdown h1 + h2,
.markdown h2 + h3,
.markdown h3 + h4 {
  margin-top: 1rem;
}


.markdown h1 {
  font-size: 2rem;
  line-height: 2.25rem;
  margin-top: 2.25rem;
}
.markdown h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-top: 1.75rem;
}
.markdown h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
}
.markdown h4 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-top: 1rem;
}

.markdown em { font-style: italic; }

.markdown pre,
.markdown code {
  font-family:
    "Fira Mono",
    "Menlo",
    monospace;
}

.markdown p > code, .markdown a > code, .markdown li > code {
  background-color: #f0c674;
  padding: 0.12rem 0.3rem 0.16rem;
  border-radius: 0.5rem;
  box-decoration-break: clone;
}

.markdown > * + * {
  margin-top: 1rem;
}

.markdown br {
  margin-top: 0;
}

.markdown blockquote {
  padding-left: 1.6rem;
  position: relative;
  z-index: 0;
}

.markdown blockquote > * + * {
  margin-top: 0.75rem;
}

.markdown blockquote:before {
  content:'"';
  position: absolute;
  left: 0;
  top: 0.15rem;
  font-size: 2rem;
  line-height: 2rem;
  font-family:
    "Roboto Mono",
    "Menlo",
    monospace;
}

.markdown .figure {
  padding-left: 1rem;
}

.markdown figcaption {
  font-size: 0.8rem;
  line-height: 1.25em;
  max-width: 30em;
  font-family:
    Founders Grotesk,
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    helvetica,
    helvetica neue,
    ubuntu,
    noto,
    Roboto,
    segoe ui,
    arial,
    sans-serif;
}

.markdown * + figcaption {
  margin-top: 0.5rem;
}

.markdown a[href] {
  color:  #00449e;
  text-decoration: underline;
}

.markdown a[href]:hover {
  color: #137752;
}

.markdown a:visited {
  color: #5e2ca5
}

.markdown img {
  width: 100%;
  display: block;
  border-radius: 0.5rem;
}

.markdown ul:not(.list-none) li {
  padding-left: 1rem;
  position: relative;
}

.markdown ul:not(.list-none) li:before {
  content: "\2022";
  left: 0;
  top: 0;
  position: absolute;
}

.markdown ol {
  counter-reset: order;
}

.markdown ol > li:before {
  counter-increment: order;
  content: counter(order)".";
  left: 0;
  top: 0;
  position: absolute;
}

.markdown hr {
  margin: 1.5rem auto 1rem 0;
  width: 2rem;
  border-top: 0.125rem solid;
}

.markdown pre {
  line-height: 1.25;
  overflow: auto;
  padding: 0.875rem;
  white-space: pre;
  word-wrap: normal;
  border-radius: 0.5rem;
  font-size: 0.875rem;
}

.markdown > table {
  min-width: 100%;
  box-sizing: border-box;
}

.markdown > table th, .markdown > table td {
  padding: 0.25rem 1rem;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.markdown > table th:first-child, .markdown > table td:first-child {
  padding-left: 0;
  border-left: none;
}
.markdown > table th:last-child, .markdown > table td:last-child {
  padding-right: 0;
}

.markdown > table tbody tr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.markdown > table th {
  font-family:
    Founders Grotesk,
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    helvetica,
    helvetica neue,
    ubuntu,
    noto,
    Roboto,
    segoe ui,
    arial,
    sans-serif;
  font-weight: bold;
}

.markdown math {
  font-family: Georgia, "Times New Roman", serif;
  font-family:
    "Latin Modern Math",
    "STIX Two Math",
    "XITS Math",
    "STIX Math",
    "Libertinus Math",
    "TeX Gyre Termes Math",
    "TeX Gyre Bonum Math",
    "TeX Gyre Schola",
    "DejaVu Math TeX Gyre",
    "TeX Gyre Pagella Math",
    "Asana Math",
    "Cambria Math",
    "Lucida Bright Math",
    "Minion Math",
    STIXGeneral,
    STIXSizeOneSym,
    Symbol,
    Georgia,
    "Times New Roman",
    serif;
}

.markdown math msup > *:last-child,
.markdown math msub > *:last-child,
.markdown math msubsup > *:nth-child(2),
.markdown math msubsup > *:nth-child(3) {
  font-size: 0.75em;
}

/* Syntax */

.markdown pre {
  background-color: #1d1f21;
  color: #ffffff;
}

.markdown pre .dt { display: inline; }
.markdown pre .fl { float: none }
.markdown pre .cf:before,
.markdown pre .cf:after { display: none }

.markdown pre .at { color: #81a2be }
.markdown pre .bu { color: #b294bb }
.markdown pre .cf { color: #b294bb }
.markdown pre .ch { color: #cc6666 }
.markdown pre .co { color: #969896 }
.markdown pre .dt { color: #f0c674 }
.markdown pre .dv { color: #de935f }
.markdown pre .ex { color: #cc6666 }
.markdown pre .fl { color: #de935f }
.markdown pre .fu { color: #81a2be }
.markdown pre .kw { color: #b294bb }
.markdown pre .ot { color: #cc6666 }
.markdown pre .st { color: #b5bd68 }
.markdown pre .va { color: #f0c674 }

.markdown pre.diff .st { color: #cc6666 }
.markdown pre.diff .va { color: #b5bd68 }

.fine-underline {
  background-image:
    linear-gradient(
      to top,
      transparent,
      transparent 0.125em,
      currentColor 0.125em,
      currentColor calc(0.125em + 1px),
      transparent calc(0.125em + 1px),
      transparent
    );
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.g2 { gap: 0.5rem; }

.gap-3 { gap: 0.75rem; }

.grid {
  display: grid;
}

.grid > * + * {
  margin-top: 0;
}

.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.row-span-full { grid-row: 1 / -1; }

.col-span-full { grid-column: 1 / -1; }

/* Width */

.min-w-full { min-width: 100%; }

.w-1\/4 { width: 25%; }

.w-2\/3 { width: 66.667%; }

.w-4\/5 { width: 80%; }

.w-max { width: max-content; }

/* Padding */

.p-2 { padding: 0.5rem }

.p-3 { padding: 0.75rem }

.p-4 { padding: 1rem }

.p-l-4 { padding-left: 1rem; }

.p-t-12 { padding-top: 3rem }

/* Border radius */

.rounded-lg { border-radius: 0.5rem; }

/* Border */

.border { border-style: solid; border-width: 1px; }

/* Background colour */

.bg-white\/60 { background-color: rgb(255 255 255 / 60%) }

/* Spacing */

.space-y-3 > * + * { margin-top: 0.75rem; }

.space-y-4 > * + * { margin-top: 1rem; }

.space-y-6 > * + * { margin-top: 1.5rem; }

.space-y-8 > * + * { margin-top: 2rem; }

/* Flex */

.flex { display: flex; }

.items-center { align-items: center; }

.shrink-0 { flex-shrink: 0; }

/* Overflow */

.overflow-x-auto { overflow-x: auto; }

.overflow-y-hidden { overflow-y: hidden; }

/* Lists */

.list-none { list-style-type: none; }

/* Tables */

.table-fixed { table-layout: fixed; }

.border-spacing-3 { border-spacing: 0.75rem; }

.border-separate { border-collapse: separate; }

.align-middle { vertical-align: middle; }

/* Text */

.text-center { text-align: center; }

.font-bold { font-weight: 700; }

/* Screen readers */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}

@media print {
   a[href^=http]:after {
    content: " (" attr(href) ")";
  }
}
