.header {
  background-color: white;
  border-top: thin solid whitesmoke;
  border-bottom: thin solid whitesmoke;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-content {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.sub-header-content {
  padding-top: 0;
}
