.hero-text {
  font-size: 2rem;
  font-family: Roboto Condensed;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.hero-image {
  width: 100%;
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
