.markdown {
  font-family: "Tiempos Text", "Georgia", "Times New Roman", serif;
  line-height: 1.5rem;
  font-size: 1rem;
}

.markdown--full {
  line-height: 1.75rem;
  font-size: 1.25rem;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-family:
    "Roboto",
    "Helvetica Nueue",
    "Helvetica",
    sans-serif;
  font-weight: bold;
}

.markdown pre,
.markdown code {
  font-family:
    "Roboto Mono",
    "Menlo",
    monospace;
}

.markdown * + * {
  margin-top: 1.5rem;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 3.5rem;
}

.markdown h1 {
  font-size: 1.5rem;
}
.markdown h2 {
  font-size: 1.25rem;
}
.markdown h3 {
  font-size: 1.125rem;
}
.markdown h4, .markdown h5, .markdown h6 {
  font-size: 1rem;
}

.markdown blockquote {
  padding-left: 2rem;
  position: relative;
  z-index: 0;
}

.markdown blockquote:before {
  content:'"';
  position: absolute;
  left: 0;
  top: 0.125rem;
  font-size: 2rem;
  line-height: 2rem;
  font-family:
    "Roboto Mono",
    "Menlo"
    monospace;
}

.markdown figcaption {
  font-size: 0.8rem;
  font-family:
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    helvetica,
    helvetica neue,
    ubuntu,
    noto,
    segoe ui,
    arial,
    sans-serif;
}

.markdown * + figcaption {
  margin-top: 0.5rem;
}

.markdown a {
  font-weight: bold;
}

.markdown a:hover {
  text-decoration-style: underline;
}

.markdown a:visited {
  color: hsl(0, 0%, 25%);
}

.markdown img {
  width: 100%;
  display: block;
}

.markdown pre {
  line-height: 1.25;
  background-color: hsl(0, 0%, 15%);
  color: whitesmoke;
  border-radius: 0.25em;
  overflow: auto;
  padding: 1.5rem;
  white-space: pre;
  word-wrap: normal;
}
