.flex {
  display: flex;
}

.flex-2 {
  flex-flow: row wrap;
}

.flex-2-item:first-child { margin-right: 0.75rem; }

@media screen and (min-width: 36rem) {
  .flex-2 {
    flex-wrap: nowrap;
  }

  .flex-2-item {
    flex: 0 1 50%;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .flex-2-item:first-child { margin-left: 0; }
  .flex-2-item:last-child { margin-right: 0; }
}
