@import url('./typography/fonts.css');

:root {
  font-family:
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    helvetica,
    helvetica neue,
    ubuntu,
    noto,
    segoe ui,
    arial,
    sans-serif;
}

.roboto-condensed {
  font-family: Roboto Condensed; 
}
