@font-face {
  font-family: "Founders Grotesk Extra Condensed";
  src:
    url("https://bradparker.sgp1.digitaloceanspaces.com/assets/fonts/FoundersGroteskX-CondensedWeb-Regular.eot"),
    url("https://bradparker.sgp1.digitaloceanspaces.com/assets/fonts/FoundersGroteskX-CondensedWeb-Regular.woff"),
    url("https://bradparker.sgp1.digitaloceanspaces.com/assets/fonts/FoundersGroteskX-CondensedWeb-Regular.woff2");
  font-variant: normal;
  font-weight: normal;
  font-style: normal;
}
