@font-face {
  font-family: "Founders Grotesk Extra Condensed";
  src:
    url('https://googledrive.com/host/0BxN0O11TpdBiS3Mtb01kdmFUeVE'),
    url('https://googledrive.com/host/0BxN0O11TpdBiNUM5UlkyblFSS1U');
  font-variant: normal;
  font-weight: normal;
  font-style: normal;
}
