@font-face {
  font-family: "Tiempos Text";
  src:
    url("https://googledrive.com/host/0BxN0O11TpdBiUjM4c25SOGh5N3M"),
    url("https://googledrive.com/host/0BxN0O11TpdBiQmE5R0VMb3lDUmc");
  font-variant: normal;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tiempos Text";
  src:
    url("https://googledrive.com/host/0BxN0O11TpdBiNnV3OThzd1k5SG8"),
    url("https://googledrive.com/host/0BxN0O11TpdBiQi1SLVd4T2VTOVE");
  font-variant: normal;
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Tiempos Text";
  src:
    url("https://googledrive.com/host/0BxN0O11TpdBiamFJdEwtZXRMV1E"),
    url("https://googledrive.com/host/0bxn0o11tpdbibhiwdlm4zetktfe");
  font-variant: normal;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Tiempos Text";
  src:
    url("https://googledrive.com/host/0BxN0O11TpdBia29kbmxKVlNFRmM"),
    url("https://googledrive.com/host/0BxN0O11TpdBiVFBIYXNNTlQ5T1k");
  font-variant: normal;
  font-weight: bold;
  font-style: italic;
}
