$for(posts)$
  <article class="bb b--near-white bw3">
    <header class="bb b--near-white">
      <section class="mw7 center flex flex-wrap flex-nowrap-ns lh-copy lh-solid-ns pa3 pa4-ns">
        <a href="$url$" class="link hover-dark-green w-50-ns mr3">
          <h1 class="f5 ma0">$title$</h1>
        </a>
        <div class="w-50-ns ml0 ml3-ns">
          $tags$
        </div>
      </section>
    </header>

    <section class="mw7 center pa3 pa4-ns block-columns-2-ns markdown">
      $summary$
    </section>
  </article>
$endfor$
