$for(posts)$
  <article class="bb b--near-white bw3">
    <header class="bb b--near-white sticky top-0 bg-white">
      <section class="mw7 center lh-copy pa3 flex flex-wrap justify-between">
        <a href="$url$" class="link hover-dark-green">
          <h1 class="f5 ma0 flex flex-wrap">
            <strong>$title$</strong>&nbsp;&mdash;&nbsp;<span>$date$</span>
          </h1>
        </a>
        <div class="post-tags">
          $tags$
        </div>
      </section>
    </header>

    <section class="mw7 center ph3 pv4 block-columns-2-ns markdown lh-copy">
      $summary$
    </section>
  </article>
$endfor$
