@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono');

@font-face {
  font-family:"Tiempos Text";
  src:
    url("https://bradparker.sgp1.digitaloceanspaces.com/assets/fonts/TiemposTextWeb-Regular.woff"),
    url("https://bradparker.sgp1.digitaloceanspaces.com/assets/fonts/TiemposTextWeb-Regular.woff2");
  font-weight:normal;
  font-style:normal
}
@font-face {
  font-family:"Tiempos Text";
  src:
    url("https://bradparker.sgp1.digitaloceanspaces.com/assets/fonts/TiemposTextWeb-RegularItalic.woff"),
    url("https://bradparker.sgp1.digitaloceanspaces.com/assets/fonts/TiemposTextWeb-RegularItalic.woff2");
  font-weight:normal;
  font-style:italic
}
@font-face {
  font-family:"Tiempos Text";
  src:
    url("https://bradparker.sgp1.digitaloceanspaces.com/assets/fonts/TiemposTextWeb-Semibold.woff"),
    url("https://bradparker.sgp1.digitaloceanspaces.com/assets/fonts/TiemposTextWeb-Semibold.woff2");
  font-weight:bold;
  font-style:normal
}
@font-face {
  font-family:"Tiempos Text";
  src:
    url("https://bradparker.sgp1.digitaloceanspaces.com/assets/fonts/TiemposTextWeb-SemiboldItalic.woff"),
    url("https://bradparker.sgp1.digitaloceanspaces.com/assets/fonts/TiemposTextWeb-SemiboldItalic.woff2");
  font-weight:bold;
  font-style:italic
}
