.section-cover {
  section.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .section-cover-headline {
    flex: 0 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;

    img { margin: 0; }

    .underline {
      border-bottom: thin solid;
      line-height: 0.8em;
      display: inline-block;
      margin: 0;
    }
  }
}


