.section-cover {
  section.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .section-cover-headline {
    flex: 0 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;

    img { margin: 0.25rem 0 -0.5rem; }

    .underline {
      background-image: linear-gradient(
        to top,
        transparent,
        transparent 0.15em,
        currentColor 0.15em,
        currentColor calc(0.15em + 1px),
        transparent calc(0.15em + 1px),
        transparent
      );
      line-height: 1em;
      display: inline;
      margin: 0;
      padding: 0;
      text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
    }
  }
}


